@use '../abstract/' as ab;

.intro {
	@include ab.container;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(3, 1fr);

	@include ab.respond(1230px) {
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 1fr;
		grid-template-rows: 1fr;
	}

	@include ab.respond(960px) {
		width: 100%;
		display: flex !important;
		flex-direction: column;
	}

	&__left {
		grid-column: 1/ 5;
		grid-row: 1/ 4;

		picture {
			width: 100%;

			img {
				width: 100%;
				object-fit: cover;
				aspect-ratio: 1.8/ 1;
			}
		}

		@include ab.respond(1230px) {
			grid-column: unset;
			grid-row: unset;

			picture {
				height: 100%;

				img {
					height: 100%;
					object-fit: cover;
					aspect-ratio: unset;
				}
			}
		}
	}

	&__right {
		grid-column: 4/-1;
		grid-row: 1/-1;
		align-self: center;
		background-color: var(--primary-color);
		padding: var(--intro-padding-block) var(--intro-padding-inline);
		position: relative;

		.header__top--btn {
			position: absolute;
			bottom: -2.5rem;
			right: 5rem;
			// transform: translate(50%, -50%);

			@include ab.respond(960px) {
				position: initial;
				margin-block-start: 2rem;

				a {
					margin-inline-start: 0;
				}
			}
		}

		&--content {
			h2 {
				max-width: 80%;
			}

			h2,
			p {
				margin-block-end: 2rem;
				color: var(--clr-white);
			}

			p {
				a {
					font-family: var(--font-light);
					color: var(--clr-white);
					text-decoration: underline;

					&:hover {
						color: var(--secondary-color);
					}
				}

				&:last-child {
					margin-block-end: 0;
				}
			}
		}

		@include ab.respond(1230px) {
			grid-column: unset;
			grid-row: unset;
		}

		@include ab.respond(960px) {
			position: unset;
		}

		@include ab.respond(600px) {
			margin-block-start: -1rem;
			padding: var(--intro-padding-block)
				var(--intro-padding-inline-mobile);

			&--content {
				h2 {
					max-width: 95%;
				}
			}
		}
	}
}
