@use '../abstract' as ab;

@include ab.respond(960px) {
	.header {
		width: 90%;

		&__top,
		&__reviews {
			flex-wrap: wrap;
		}

		// ================================================================================//
		// 									Header Top									   //
		// ================================================================================//
		&__top {
			&--form {
				width: auto;
			}
		}

		// ================================================================================//
		// 									Header Reviews								   //
		// ================================================================================//
		&__reviews {
			padding-inline-end: 3rem;

			&__icon-box {
				svg.icon {
					width: 1rem;
					height: 1rem;
				}
			}

			&__text {
				span {
					font-size: 0.8rem;
				}
			}
		}

		// ================================================================================//
		// 									Header Navigation							   //
		// ================================================================================//
		&__nav {
			&--container {
				.nav__lists {
					display: none;
				}

					&[data-visible]{
						.nav__lists {
							display: flex;
					}
				}
			}
		}
	}
}

@include ab.respond(600px) {
	.header {
		width: 100%;

		&__top,
		&__reviews {
			width: inherit;
		}

		// ================================================================================//
		// 									Header Top									   //
		// ================================================================================//
		&__top {
			&--form {
				margin-right: 5rem;
				&--input {
					display: none;
				}

				&--button-box {
					justify-content: flex-end;
				}
			}
		}

		// ================================================================================//
		// 									Header Reviews								   //
		// ================================================================================//
		&__reviews {
			padding-inline-end: 3rem;
		}

		// ================================================================================//
		// 									Header Navigation							   //
		// ================================================================================//
		&__nav {
		}
	}
}
