@import '../../styles/utils';

/**
* Radio Group
*/
.root__radiogroup {
    display: flex; gap: 0.5rem; justify-content: flex-start;
    color: var(--text-color);
}

.root__radio {
    display: flex; align-items: center; background-color: $grey-light;
    color: rgba($blackish, 0.5); border-radius: 100px;
    margin: 0; cursor: pointer; padding: 0.8rem 2rem;
    border: 1px solid rgba(37, 37, 37, 0.05);

    &[data-pressed] {
        border-color: rgba($primary-color, 0.25);
    }

    &[data-selected] {
        background-color: $blue; color: $white; border-color: $blue;
        transition: all 250ms ease-in;

        &[data-pressed] {
            border-color: rgba($primary-color, 0.25);
        }
    }

    &[data-focus-visible] {
        outline: 2px solid rgba($primary-color-light, 0.9);
        outline-offset: 2px;
    }
}
