@import '../../styles/utils';

.root {
    margin-bottom: 1.25rem;
    position: relative;
}
.root > select {
    appearance: none;
    margin: 0; padding-right: 3.5rem;
    @include hover {
        & + svg {
            transform: translateY(3px);
        }
    }
}
.root > svg {
    position: absolute; top: 1.4rem; right: 1.25rem;
    width: 0.9rem; height: 0.9rem; fill: currentColor; pointer-events: none;
    transition: all 0.2s;
}
