// FONTS Loader
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;500;600;700&display=swap');

/*
 1. Use a more-intuitive box-sizing model.
 2. Remove default margin and padding on all elements.
*/
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// border: 1px solid red; // just for debugging - it helps sometimes
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
	height: 100%;
}
/*
  Typographic tweaks!
  4. Set the default font-size from 16px to 10px
*/
html {
	font-size: 62.5%;
}

/*
  Typographic tweaks!
  5. Add accessible line-height
  6. Improve text rendering
*/
body {
	line-height: var(--line-h);
	font-family: var(--font-primary);
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
	// width: fit-content;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/*
  8. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}

/*
  9. Avoid text overflows
*/
h1,
h2,
h3,
h5,
h6 {
	font-family: var(--font-primary);
	overflow-wrap: break-word;
}

h1,
h2 {
	color: var(--clr-black);
	align-self: flex-start;
	font-size: var(--product-card-title-font-size);
	text-transform: uppercase;
	font-weight: var(--font-black);
	font-family: var(--font-primary);
}

h2 {
	font-size: calc(var(--product-card-title-font-size) * 0.55);
}

h3 {
	font-size: calc(var(--product-card-title-font-size) * 0.45);
}

h4 {
	font-family: var(--font-secondary);
	color: var(--clr-black);
	font-weight: var(--font-bold);
	font-size: 1.5rem;
}

p {
	font-family: var(--font-secondary);
	overflow-wrap: break-word;
	font-family: var(--font-secondary);
	font-weight: var(--font-light);
	color: var(--clr-black);
	font-size: var(--paragraph-font-size);
	line-height: 1.7;
	padding-block-end: 2rem;
	max-width: 90%;

	a {
		color: var(--secondary-color);
		transition: all 0.2s ease-in-out;

		&:hover {
			text-decoration: underline;
		}
	}
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

/*
  10. Custom Selection styles to fit the theme
*/
::selection {
	background-color: var(--selection-color);
	color: var(--clr-white);
}

/*
 11. Remove all animations, transitions and smooth scroll for
        people that prefer not to see them
*/
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/*
12. A elements that don't have a class get default styles
*/
a:not([class]) {
	text-decoration-skip-ink: auto;
}

a {
	text-decoration: none;
}

/*
13. Remove list styles on ul, ol elements with a list role,
    which suggests default styling will be removed
*/
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

strong {
	display: contents;
}

.main ul.content-ul {
	display: flex;
	flex-direction: column;
	margin-block-end: 3rem;

	li {
		list-style-type: none;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 1rem;
		margin-block-end: 1rem;
		font-size: var(--paragraph-font-size);
		font-weight: 300;

		a {
			color: var(--secondary-color);
			transition: all 0.2s ease-in-out;

			&:hover {
				text-decoration: underline;
			}
		}

		&::before {
			content: '•';
			margin-block-start: 0.5rem;
		}
	}
}

/*
14. Set core root defaults
*/
html:focus-within {
	scroll-behavior: smooth;
}

/*
15. Set default space between sections
*/
section {
	&:not(:first-child) {
		margin-block-start: var(--section-space-s, 4rem);
	}
}

// ::-webkit-scrollbar {
// 	width: 10px;
// 	background: var(--primary-color);
// }

// ::-webkit-scrollbar-track {
// 	background: white;
// }

// ::-webkit-scrollbar-thumb {
// 	background: var(--primary-color);
// 	border-radius: 10px;
// }

summary {
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}
