@import '../../styles/utils';

.root {
    @include medium-text;
    margin: 1.5rem 0;
    display: flex; align-items: center; padding: 0.75rem 0 0.75rem 1.5rem;
    border-radius: $border-radius;
    transition: visibility 0.5s, opacity 0.5s;
}
.root[data-hiding="true"] {
    opacity: 0; visibility: hidden;
}
.root > svg {
    flex: 0 0 auto;
    margin-right: 1rem; block-size: 1.5rem; inline-size: 1.5rem
}
.root > button {
    @include bare-button;
    flex: 0 0 auto;
    margin: -0.75rem 0; padding: 0.75rem 1.5rem 0.7rem;
    color: inherit; line-height: 0;
}
.root > button:hover {
    opacity: 0.7;
}
.root > button > svg {
    width: 13px; height: 13px;
}

/**
 * Content
 */
.root__content {
    flex: 1 1 auto; padding-right: 0.5rem; line-height: 1.35;
}
.root__content p:first-of-type {
    margin-top: 1px;
}
.root__content p:last-of-type {
    margin-bottom: 0;
}
.root__content a {
    @include ui-font;
}

/**
 * Notice
 */
.root[data-variation="notice"] {
    background: rgba($primary-color-light, 0.5); color: $primary-color;
}

/**
 * Success
 */
.root[data-variation="success"] {
    background: $success-color-light; color: $success-color;
}
.root[data-variation="success"] > svg {
    color: $success-color;
}

/**
 * Warning
 */
.root[data-variation="warning"] {
    background: $warning-color-light; color: $error-color;
}
.root[data-variation="warning"] > svg {
    color: $warning-color;
}

/**
 * Error
 */
.root[data-variation="error"] {
    background: $error-color-light; color: $error-color;
}
.root[data-variation="error"] > svg {
    color: $error-color;
}

/**
 * Misc
 */
[alert-bar] + [alert-bar] {
    margin-top: -1rem;
}
