.not-found {
  margin-top:80px;

    .title__head {
      h1 {
        color: var(--primary-color);
        align-self: flex-start;
        font-size: var(--product-card-title-font-size);
        font-weight: var(--font-bold);
      }
  }

  h2 {
    margin-bottom: 40px;
  }
}