/*
* FONTS TO BE USED
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=DotGothic16&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=DotGothic16&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


:root {
	/*
	* FONT VARIABLES
	*/
	--font-manrope: "DotGothic16", sans-serif;
	--font-dosis: "Dosis", "Nunito", sans-serif;
	--font-primary: "Nunito", sans-serif;
	--font-secondary: "Josefin Sans", "Courier New", Courier, monospace, sans-serif;
	--font-robo: "Roboto", "Courier New", Courier, monospace, sans-serif;
	--font-robo-mono: "Roboto Mono", "Roboto";
	--font-goth: "DotGothic16", sans-serif;
	--black: #101010;

	--gray-0: #f8f9fa;
	--gray-1: #f1f3f5;
	--gray-2: #e9ecef;
	--gray-3: #dee2e6;
	--gray-4: #ced4da;
	--gray-5: #adb5bd;
	--gray-6: #868e96;
	--gray-7: #495057;
	--gray-8: #343a40;
	--gray-9: #212529;
	--gray-10: #16191d;
	--gray-11: #0d0f12;
	--gray-12: #030507;

	--orange-0: #fff4e6;
	--orange-1: #ffe8cc;
	--orange-2: #ffd8a8;
	--orange-3: #ffc078;
	--orange-4: #ffa94d;
	--orange-5: #ff922b;
	--orange-6: #fd7e14;
	--orange-7: #f76707;
	--orange-8: #e8590c;
	--orange-9: #d9480f;
	--orange-10: #bf400d;
	--orange-11: #99330b;
	--orange-12: #802b09;

	--choco-0: #fff8dc;
	--choco-1: #fce1bc;
	--choco-2: #f7ca9e;
	--choco-3: #f1b280;
	--choco-4: #e99b62;
	--choco-5: #df8545;
	--choco-6: #d46e25;
	--choco-7: #bd5f1b;
	--choco-8: #a45117;
	--choco-9: #8a4513;
	--choco-10: #703a13;
	--choco-11: #572f12;
	--choco-12: #3d210d;

	--purple-0: #f8f0fc;
	--purple-1: #f3d9fa;
	--purple-2: #eebefa;
	--purple-3: #e599f7;
	--purple-4: #da77f2;
	--purple-5: #cc5de8;
	--purple-6: #be4bdb;
	--purple-7: #ae3ec9;
	--purple-8: #9c36b5;
	--purple-9: #862e9c;
	--purple-10: #702682;
	--purple-11: #5a1e69;
	--purple-12: #44174f;


	// #0a192f how do we use this color from 0 to 12
	--navy-0: #e4e8ed;
	--navy-1: #c9d1da;
	--navy-2: #afbac8;
	--navy-3: #94a3b5;
	--navy-4: #7a8ca2;
	--navy-5: #60758f;
	--navy-6: #475e7b;
	--navy-7: #2e4868;
	--navy-8: #163254;
	--navy-9: #0a192f; /* original color */
	--navy-10: #081428;
	--navy-11: #061021;
	--navy-12: #040c1a;
	--navy-12-hsl: hsl(220, 100%, 5%);



	//RESPONSIVE BREAKPOINT

}