@import '../../../../styles/utils';


.root {
    position: relative;
}

section.root[data-role-specific="true"] > form {
    > header {
        > div:first-of-type {
            margin-block-end: 1.5rem;

            > h3 {
                @include h3;
                margin-block-end: 0.5rem;
                text-align: left; text-wrap: pretty;
                font-weight: 600;

                @include bp-min($medium) {
                    font-size: 1.75rem;
                }
            }
        }

        > h4 {
            @include h4;
            inline-size: 100%; margin-block-end: 0.5rem;
            text-align: left; text-wrap: pretty;
            color: $blue; font-weight: $font-weight-medium;

            @include bp-min($medium) {
                font-size: 1.25rem;
            }
        }

        > p {
            margin: 0; text-align: left; text-wrap: pretty;
            margin-bottom: 1.25rem;
        }

        > div:last-of-type > div {
            position: relative;



            > button {
                padding-inline: 2rem;

                &:last-of-type {
                    padding-inline: 3rem;
                }
            }
        }
    }

    > ul > li {
        margin-block-end: 0.5rem;
    }
}


.root__buttongroup {
    gap: 0.5rem;
}

.root__buttongroup button:nth-of-type(1),
.root__buttongroup button:nth-of-type(2) {
    min-inline-size: 2rem;

}

/**
* Aside Header
*/
.root__header  {
    padding-block:
        var(--content-padding-all, var(--sp-c))
        calc(var(--content-padding-all, var(--sp-c)) * 0.5);
    position: sticky; top: 0; z-index: 99;
    display: flex; align-items: flex-start; flex-direction: column;
    background-color: $white;

    > div[data-notice] {
        margin-block: 1rem -1.25rem;
    }

    > div[data-error-notice] {
        margin-block: 1rem -0.25rem; inline-size: 100%;

        > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        h6 {
            margin: 0;
        }

        ul {
            margin: 0; display: flex; gap: 0.25rem;
        }
    }
}

.root__headertop {
    inline-size: 100%;
    display: flex; align-items: flex-start; justify-content: space-between;
}
.root__headertop > h4 {
    @include h3;
    font-weight: $font-weight-bold;
    margin-block-end: 0;
    text-align: left; text-wrap: nowrap;

    @include bp-min($medium) {
        font-size: 26px;
    }
}
.root__headertop > div {
    display: flex; justify-content: flex-end; flex-wrap: wrap;
    margin: 0;
}


/**
*Tabs
*/
.root__tabs {
    inline-size: 100%;
    padding-block-start: 2.5rem;
    margin-block-end: 1.5rem;
}
.root > form > .root__header > .root__tabs > ul > li {
    flex: auto;
    > a {
        padding-inline-start: 0.15rem;
    }
}
.root__tabs > ul > li:has(a[aria-selected="false"]) {
    border-color: rgba($text-color-light, 0.1);
}

// buttonset
.root__buttonset {
    position: relative;
    display: flex; gap: 1rem; justify-content: space-between;
    margin-block-start: 1.5rem;

    &[data-close-set="true"] {
        position: relative;
        display: flex; align-items: flex-start; justify-content: flex-end;
        margin-block: 0 0.5rem; inline-size: 100%;

        > button {
            min-inline-size: 3rem;
            display: flex; place-content: center; place-items: center;
            transform: translate(23px, -23.5px);

            @include hover {
                background-color: transparent;
                color: $error-color;
            }
        }
    }
}

// Error Message
.root__error {
    position: relative;
    display: flex; flex-direction: column; gap: 0.25rem; align-items: flex-start;
    inline-size: 90%; padding: 0.75rem 1rem; margin-inline-end: auto;
    background-color: rgba($error-color, 0.1);
    border: 1px solid $error-color; border-radius: $border-radius;
    color: $error-color; font-size: 0.875rem; margin-block-start: 2.5rem;
    opacity: 1; visibility: visible; pointer-events: auto; block-size: auto;

    transition: all 0.25s ease-in-out;

    &[data-hidden="true"] {
        opacity: 0; visibility: hidden; pointer-events: none; block-size: 0; inline-size: 0;
        margin: 0; padding: 0;
    }

    > h3,
    > p {
        margin: 0;
    }

    > div[data-error-list="true"] {
        > h5 {
            text-align: left; text-wrap: pretty; text-transform: capitalize;
            margin-block-start: 0.5rem; margin-block-end: 0.25rem;
        }

        > ul {
            padding: 0; margin: 0; list-style-type: none;

            > li {
                list-style-type: none; text-align: left;

                > p {
                    margin: 0;
                }
            }
        }
    }

    > div[data-btn-set="true"] {
        position: absolute; top: 0; right: 0;

        > button {
            display: flex; place-content: center; place-items: center;
            margin-inline-end: 1rem; background-color: rgba($error-color, 0.3);
            color: rgba($error-color, 0.5); min-inline-size: 2rem;
            transition: all 0.25s ease-in-out;

            &:hover {
                background-color: rgba($error-color, 0.35);
                color: rgba($error-color, 0.5);
            }
        }
    }
}

.root__missingfields {
    @include appear; margin-block: 0 0.75rem; inline-size: 100%;
    display: flex; gap: 0.25rem; align-items: flex-start;
    padding: 0.5rem 1rem; background-color: rgba($error-color, 0.1);
    border: 1px solid rgba($error-color, 0.3); border-radius: $border-radius;

    &[data-hidden="true"] {
        @include vanish;
    }

    > ul {
        @include bare-list; line-height: normal; display: flex; gap: 0.5rem; flex-wrap: wrap;
        > li > small {
            @include small-text; color: rgba($error-color, 0.6);
        }
    }

    > h6 {
        @include medium-text; margin: 0; color: rgba($error-color, 0.7);
        text-wrap: nowrap;
    }
}
