@use "../abstract" as ab;

.menu__icon {
	cursor: pointer;
	display: inline-block;
	padding: 2rem 1.5rem;
	position: relative;
}

.menu__icon .navicon {
	background: var(--clr-white);
	display: grid;
	height: 0.35rem;
	position: relative;
	width: 3rem;
	border-radius: 0.3rem;
	transition: var(--transition-fast);
}

.menu__icon .navicon:before,
.menu__icon .navicon:after {
	background: var(--clr-white);
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	transition: all 0.25s ease-in-out;
	width: 100%;
}

.menu__icon .navicon:before {
	top: 10px;
	border-radius: 0.3rem;
}

.menu__icon .navicon:after {
	top: -10px;
	border-radius: 0.3rem;
}

/* menu btn */

.menu__btn {
	display: none;
}

.menu__btn:checked ~ .menu {
	max-height: fit-content;
	padding-block-end: 2rem;
}

.menu__btn:checked ~ .menu li {
	text-align: left;
	width: 100%;
}

.menu__btn:checked .login li:last-child a {
	text-align: center;
	width: 100%;
}

.menu__btn:checked ~ .menu__icon .navicon {
	background: transparent;
}

.menu__btn:checked ~ .menu__icon .navicon:before {
	transform: rotate(-45deg);
}

.menu__btn:checked ~ .menu__icon .navicon:after {
	transform: rotate(45deg);
}

.menu__btn:checked ~ .menu__icon:not(.steps) .navicon:before,
.menu__btn:checked ~ .menu__icon:not(.steps) .navicon:after {
	top: 0;
}

@include ab.respond(960px) {
}
