@import '../../styles/utils';

.root {
    text-align: center; color: $text-color;
}

.root > div[data-btn-set="true"] {
    display: flex; justify-content: center;
    gap: 1rem; margin-block: 2rem 1rem;
}
.root > div[data-btn-set="true"] > button {
    min-inline-size: 35%;
}

/**
* header
*/
.root > header {
    display: flex; align-items: center; justify-content: space-between;
    padding: 0 $gutter; block-size: $header-height;
}
.root[data-policy-header="true"] {
    z-index: 1;
    position: sticky; top: 0; align-items: flex-start;
    background-color: $white;  block-size: auto;
    padding: 1.3rem 1rem 1rem;
}
.root[data-policy-header="true"] > h1 {
    @include h1;
}
.root[data-policy-header="true"] > button {
    display: flex; align-items: center; justify-content: center;
    min-inline-size: 2rem; min-block-size: 2rem;
}
.root > header[data-hidden] {
    visibility: hidden;
    display: none;
}

.root > header[data-upload-header="true"] {
    padding-inline: 0; block-size: auto;
}
.root > header[data-upload-header="true"] > h2 {
    @include h2;
}
.root > header[data-upload-header="true"] > h2 {
    font-weight: 500; margin: 0;
}
.root > header[data-upload-header="true"] > button {
    min-inline-size: 3rem; display: flex; align-items: center;

    svg {
        transform: scale(1); transition: all 200ms ease-in-out;
    }

    @include hover {
        background-color: transparent;

        svg {
            fill: $error-color; transform: scale(1.1);
        }
    }
}

/**
* Root Upload content
*/
.root > section[data-upload-content] {
    display: flex; flex-direction: column; margin-block: 0;
}

.root > section[data-upload-content="true"] > div > span {
    inline-size: 100%; display: block; padding-block-start: 0.25rem;
    text-align: start;
}
.root > section[data-upload-content="true"] > div > span > a {
    @include link;
}
.root > section[data-upload-content="true"] > div > span > a {
    color: $blue;
}
.root > section[data-upload-content="true"] > div > p,
.root > section[data-upload-content="true"] > div > span {
    margin: 0;
    text-align: start;
}


/**
* Drag space
*/
.root > section[data-upload-content="true"] > div[data-drag-space] {
    block-size: auto; inline-size: 100%;
    margin-block: 1.25rem 0.25rem;
}


/**
* Project Creation modal
*/
.root header[data-project-create-header="true"] {
    display: flex; flex-direction: column; align-items: center;
    block-size: auto;

    > div:first-of-type {
        margin-block-start: -1rem;
    }
}
.root header[data-project-create-header="true"] > button {
    display: flex; align-items: center; align-self: flex-end;
    min-inline-size: 2rem; margin-block-start: -1rem; margin-inline-end: -1.5rem;
}
.root header[data-project-create-header="true"] > div:first-of-type > h2 {
    margin: 0;
}
.root header[data-project-create-header="true"] > div:first-of-type > p {
    max-inline-size: 400px; margin-block-end: 0.5rem;
}

.root span[data-required="true"] {
    font-size: 13px; position: relative;
    text-align: left; padding-inline-start: 0.75rem;padding-block-end: 0;

    @include bp-min($medium) {
        font-size: 1rem;
    }

    &::before {
        font-size: 13px; content: '*'; color: $error-color;
        position: absolute; inset: -4px auto auto 0;

        @include bp-min($medium) {
            font-size: 1.3rem;
        }
    }
}
